*{
     font-family: "Libertinus Mono", monospace;
     padding: 0;
     margin: 0;
}
.main {
  font-family: "Libertinus Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}


body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    padding: 10px;
}

.about{
    padding: 5px;
     display: flex;
            flex-direction: column;
            align-items: center;
}

.score{
    font-size: 30px;
    padding: 10px;
}

.scoreDisplay{
    font-size: 23px;
    padding: 5px;
    margin: auto;
}

.aboutMain{
    margin: 5px;
}
.warn{
    color: rgb(197, 87, 87);
}

@media  (max-width:480px){
.main{
    margin: 0 45px;
}
    
}